{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="row flex-lg-row-reverse align-items-center" style="background-color: black;">
            <div class="col-lg-6">
                <div class="lc-block">
                    <div style="background-color: black;">
                        <div class="card" style="width: 18rem;">
                            <div class="card-title">
                                <h2>Connexion</h2>
                            </div>
                            <div class="card-body">
                                <h2>cher {{ user_name }}
                                <h2>Vous êtes bien <br>connecté</h2>
                                <h3>en tant que ; <strong>{{ user_type }}</strong></h3>
                                <h3>avec l'ID; <strong>{{ user_id }}</strong></h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lc-block">
                    <div editable="rich">
                        <h1 class="text-white">Application<br>Login Page</h1>
                        <p class="lead text-white">Login ou inscription</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
