{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Détail de l'article</h2>
    
    <div class="card mb-4">
        <div class="card-header">
            <h3>{{ article.nom }}</h3>
        </div>
        <div class="card-body">
            <p> Stock disponible (le {{ reference_date or 'today'}}): {{ vente_sorties_total }}</p>
            <p> Vente {{ vente_sorties_total }} </p>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>ID:</strong>{{ article.id_article }}</li>
                        <li class="list-group-item"><strong>catégorie:</strong>{{ article.categorie.libel_categorie }}</li>
                        <li class="list-group-item"><strong>Sous-catégorie:</strong>{{ article.sous_categorie.libel_sous_categorie }}</li>
                        <li class="list-group-item"><strong>Sous-sous-catégorie:</strong>{{ article.sous_sous_categorie.libel_sous_sous_categorie }}</li>
                        <li class="list-group-item"><strong>Marque:</strong>{{ article.marque.libel_marque }}</li>
                        <li class="list-group-item"><strong>Garantie:</strong>{{ article.garantie.libel_garantie }}</li>
                        <li class="list-group-item"><strong>Prix:</strong>{{ article.prix }} CHF</li>
                        <li class="list-group-item"><strong>TVA:</strong>{{ article.sous_sous_categorie.sous_categorie.categorie.tva }} %</li>
                        <li class="list-group-item"><strong>Description:</strong>{{ article.article_description }}</li>
                        <li class="list-group-item"><strong>Dimension:</strong>{{ article.dimension }}</li>
                        <li class="list-group-item"><strong>longueur:</strong>{{ article.longueur }}</li>
                        <li class="list-group-item"><strong>largeur:</strong>{{ article.largeur }}</li>
                        <li class="list-group-item"><strong>Hauteur:</strong>{{ article.hauteur }}</li>
                        <li class="list-group-item"><strong>Poids:</strong>{{ article.poids }}</li>
                        <li class="list-group-item"><strong>Unite dimension:</strong>{{ article.unite_dimension }}</li>
                        
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                    {%if article.image_url %}
                    <img src="{{ url_for('static', filename='media/articles/' ~article.image_url) }}" alt="{{ article.nom }}" class="img-fluid rounded shadow-sm" style="max-height: 300px;">
                    {%else %}
                    <p class="text-muted">Aucune image disponible</p>
                    {% endif %}
                
                </div>
            </div>

        </div>

    </div>
    <div class="card">
        <div class="card-header">
            <h3>Stock par Filiale</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Filiale</th>
                        <th>Stock disponible</th>
                        <th>Stock réservée</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td> {{ stock.filiale.nom }}</td>
                        <td> {{ stock.quantite_disponible }}</td>
                        <td> {{ stock.quantite_reservee }}</td>
                        <td> {{ stock.quantite_disponible + stock.quantite_reservee}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="fw-bold">
                        <td>Total</td>
                        <td>{{ stocks|sum(attribute='quantite_disponible') }}</td>
                        <td>{{ stocks|sum(attribute='quantite_reservee') }}</td>
                        <td>{{ stocks|sum(attribute='quantite_disponible') + stocks|sum(attribute='quantite_reservee') }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="mt-3">
        <a href="{{ url_for('home.index') }}" class="btn btn-secondary">Retour à la page d'accueil</a>
    </div>
</div>
{% endblock %}